# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode / IDE settings
.vscode/
.idea/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
*.env

# 🚫 Exclude your dataset folder
timenew1/
